#accounts-table {
    /*width: 90%;*/
    width: 80%;
    position: relative;
    margin: 0 auto auto 2rem;
    table-layout: fixed;
    background-color:rgb(255, 255, 255);
   
}

#amount {
    text-align: right
}



